#header{
    margin: 0 auto;
}

#nav {
    height: 60px;
    background: #CFD2CF;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

#nav #ul{
    padding: 0 450px;
    margin: 0;
    margin-inline: 110px;
}

#nav #ul li{
    background: #F5EDDC;
    position: flex;
    list-style: none;
    display: inline-block;
    
}

#nav #ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
}
#nav #ul li a:hover{
    background: #CFD2CF;
}

#nav #ul .list{
    position: absolute;
    top: 60px;
    display: none;
}

#nav #ul li:hover > ul{
    display: block;
}

#nav #ul .list li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    right: 45px;
}